<app-blank-layout>
  <div class="container is-max-tablet mx-auto">
    <h1 class="title mb-2">Register</h1>
    <h3 class="subtitle mb-1">Your want to register such:</h3>
    <div class="columns is-centered">
      <div class="column is-half is-display-flex is-justify-content-center">
        <app-image-card-button
          imageAlt="Candidate Register"
          imageHeight="150"
          imageUrl="/images/candidate.webp"
          imageWidth="126"
          routerLink="/register/candidate"
          title="Candidate"
        />
      </div>
      <div class="column is-half is-display-flex is-justify-content-center">
        <app-image-card-button
          imageAlt="Company Register"
          imageHeight="128"
          imageUrl="/images/company.webp"
          imageWidth="150"
          routerLink="/register/company"
          title="Company"
        />
      </div>
    </div>
  </div>
</app-blank-layout>
